---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Public Information should be accessible to everyone, not just those on private social networks." } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
		<footer class="container">
			<p>&copy; {new Date().getFullYear()} Open Public Info Ireland. Built by citizens for citizens.</p>
		</footer>
	</body>
</html>
